.header-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#video{
  position: fixed;
  z-index: -2;
  width: 100%;
  opacity: .8;
}

.budget-pop-up{
  background-color: aqua;
  opacity: .8;
}

.budgetHeader{
  font-family: sans-serif;
	font-weight: 100;
  color: #fff;
  font-weight: bold;
}

.workoutHeader{
  font-family: sans-serif;
	font-weight: 100;
  color: #fff;
  font-weight: bold;
}

.Option{
  display: flex;
  justify-content: center;
  align-items: center;
}


.new-entry-button{
  position: relative;
}